.content{
    display: flex;
    flex-direction: column;
    @include desktop-breakpoint{
        flex-direction: row;
    }
    
}
.course {
    padding: 1.875rem 1.25rem;
    margin: .5rem;
    font-family: $ubuntu;
    border: 2px solid $black;

    @include desktop-breakpoint{
        width: 45%;
    }

    &__post {
        padding: 0.5rem;
        margin: 0.3rem;
        border: 1px dotted $sable;
        cursor: pointer;
    }

    &__pic {
        width: 100%;
    }

    &__title {
        font-size: $x-large;
        font-weight: $font-bold;
        padding: 0.8rem 0 0.8rem;
    
        @include desktop-breakpoint{
            font-size: $large;
        }
    
        @include tablet-breakpoint{
            font-size: $large;
        }
    }

    &__description {
        color: $sable;
        font-size: $medium;
        font-weight: $font-regular;
        line-height: 33px;
        text-align: justify;
        padding-bottom: 2rem;
    
        @include desktop-breakpoint {
            font-size: $small;
            line-height: 25px;
            padding-bottom: 0;
        }
    
        @include tablet-breakpoint {
            font-size: $small;
            line-height: 25px;
        } 
    }

    &__instructor {
        font-size: $large;
        font-weight: $font-bold;
        padding-top: 0.5rem;
    
        @include desktop-breakpoint {
            font-size: $medium;
        }
    
        @include tablet-breakpoint {
            font-size: $medium;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        margin: 0.6rem 0 0.5rem;
    }
    
    &__item {
        padding-right: 1rem;
    }

}

.information {
    padding: 1.875rem 1.25rem;
    margin: .5rem;
    font-family: $ubuntu;
    border: 2px solid $black;

    @include desktop-breakpoint{
        width: 45%;
    }

    &__post{
        @include desktop-breakpoint{
            height:30vh;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__pic {
        border-radius: 50%;
        border: 1px solid $black;
        width: 60%;

        @include desktop-breakpoint {
            width: 30%;
        }
    }

    &__title {
        font-size: $x-large;
        font-weight: $font-bold;
        text-transform: uppercase;
        margin: 0.8rem 0 0.8rem;

        @include desktop-breakpoint{
            font-size: $medium;
        }
    
        @include tablet-breakpoint{
            font-size: $medium;
        }
    }

    &__description {
        color: $sable;
        font-size: $medium;
        font-weight: $font-regular;
        line-height: 33px;
        text-align: justify;
        padding-bottom: 1rem;
    
        @include desktop-breakpoint {
            font-size: $small;
            line-height: 25px;
            padding-bottom: 0;
        }
    
        @include tablet-breakpoint {
            font-size: $small;
            line-height: 25px;
            padding-bottom: 1rem;
        } 
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.6rem;
    }

    &__item {
        padding-right: 1rem;
    }
}

.more {
    &__title {
        background-color: $gray;
        color: $white;
        font-family: $poppins;
        font-size: $large;
        font-weight: $font-bold;
        text-align: center;
        padding: 0.7rem; 

        @include desktop-breakpoint{
            font-size: $small;
            padding: 0.3rem; 
        }
    
        @include tablet-breakpoint{
            font-size: $small;
            padding: 0.3rem
        }
    }

    &__info{
        @include desktop-breakpoint{
            margin: 0.2rem;
        }
        
    }

    &__list {
        font-family: $poppins;
        font-size: $medium;
        margin: 1rem;
        line-height: 25px;

        @include desktop-breakpoint {
            font-size: $small;
        }
        
        @include tablet-breakpoint{
            font-style: $small;
        }
    }
    &__item {
        list-style-type: circle;
        &:hover {
            color: $tangerine;
        }
    }

    &__animation {
        margin: auto;
        width: 100%;
        max-width: 320px;

        @include desktop-breakpoint {
            width: 100%;
            max-width: 200px;
        }

        @include tablet-breakpoint {
            width: 100%;
            max-width: 250px;
        }
    }
}